@font-face {
    font-family: 'B';
    src: url('../../font/B.ttf');
}

@font-face {
    font-family: 'M';
    src: url('../../font/M.ttf');
}

@font-face {
    font-family: 'L';
    src: url('../../font/L.ttf');
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --red: rgb(210, 46, 46);
}

a {
    text-decoration: none;
    color: #000;
}

#header {
	width: 100%;
	height: 100vh;
	background-image: url('../../upload_server/thean_resource/ulsan.png');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.head-elements {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    z-index: 3;
}

.menu-elements {
    display: flex;
    gap: 50px;
    font-family: 'B';
    margin-right: 30px;
}

#body {
	width: 100%;
    margin-bottom: 100px;
	background-color: #fff;
    transition: 1s ease-in-out;
}

.text_option {
	color: var(--red);
}

.feature {
    width: 300px;
    background-color: #fff;
    height: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 32px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 12px;
}

.logo {
    width: 50px;
    margin-left: 10px;
}

.arrow {
    width: 20px;
}

.photo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    padding-top: 80px;
}

.photo-element {
    width: 28%;
}

.photo-title {
    font-size: 24px;
    font-family: 'B';
    border-bottom: 1px solid #aaa;
}

.photo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 30px 0;
}

.photos {
    width: 48%;
    height: 260px;
    position: relative;
}

.thumb-info {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.1s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.thumb-title {
    word-break: keep-all;
    width: 84%;
    color: #fff;
    font-family: 'B';
    text-align: center;
    font-size: 24px;
}

.thumb-year {
    color: #fff;
    font-family: 'B';
    text-align: center;
    font-size: 22px;
}

.thumb-info:hover {
    opacity: 1;
}

.thumb {
    width: 100%;
    height: 100%;
    background-image: url('../../uploadimg/a.jpg');
    background-size: cover;
    position: relative;
}

.more {
    width: 100%;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'B';
}

@media screen and (max-width: 768px) {
    #header {
        height: 300px;
    }

    .head-elements {
        height: 60px;
    } 

    .menu-elements {
        gap: 24px;
    }

    .text_option {
        color: var(--red);
        font-size: 12px;
    }

    .feature {
        width: 120px;
        height: 30px;
        margin-left: 12px;
        padding-left: 6px;
        font-size: 10px;
    }

    .logo {
        width: 30px;
    }

    .arrow {
        width: 12px;
    }

    .photo-container {
        display: inline;
    }

    .photo-element {
        width: 90%;
        margin: 40px auto;
        margin-bottom: 40px;
    }
}
