@font-face {
    font-family: 'B';
    src: url('../../font/B.ttf');
}

@font-face {
    font-family: 'M';
    src: url('../../font/M.ttf');
}

@font-face {
    font-family: 'L';
    src: url('../../font/L.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'M';
}

#main {
    width: 100%;
    height: 100%;
    background-color: #eee;
}

#body {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    background-color: #eee;
}

.main-title {
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    padding: 3vw;
}

.left {
    width: 65%;
    padding: 2vw;
}

.right {
    width: 35%;
    padding: 2vw;
}

.info-container {
    width: 100%;
    margin-bottom: 2vw;
    background-color: #fff;
}

.info {
    padding: 2vw;
    padding-bottom: 3vw;
}

.info-title {
    font-size: 1.5vw;
    font-weight: bold;
}

/* -------- 주문 강의 정보 -------- */

.order-info {
    width: 100%;
    display: flex;
    margin-top: 2vw;
}

.lec-thumb {
    width: 12vw;
    height: 12vw;
}

.video-content {
    position: absolute;
    width: 12vw;
    height: 12vw;
    z-index: 99;
    display: flex;
    border-radius: 1vw;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(33, 29, 34, 0.6);
    border-radius: 1vw;
    backdrop-filter: saturate(.3);
}

.thumb {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 102% 102%;
    background-position: center center;
    transition: 0.4s ease-in-out;
    border-radius: 1vw;
}

.video-info {
    margin-top: 60px;
}

.designer {
    font-size: 1em;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 1.4em;
    margin: 0 auto;
    width: 84%;
    text-align: center;
    word-break: keep-all;
    font-family: 'B';
}

.order-lecture {
    margin-left: 1.8vw;
}

.ct-title {
    font-size: 1.8em;
    font-family: 'B';
    width: 24vw;
    word-break: keep-all;
}

.teacher {
    font-size: 1.2em;
}

.date {
    font-size: 1.2em;
}

.price {
    font-size: 1.6em;
    font-family: 'B';
    margin-top: 20px;
}

/* -------- 주문자 정보 -------- */

.orderer-info {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    gap: 50px;
}

.name-con div {
    font-family: 'B';
    font-size: 1.2em;
}

.name {
    font-size: 1.2em;
    color: #707070;
}

.digit {
    margin-top: 10px;
    color: #707070;
    font-size: 1.2em;
}

.email {
    color: #707070;
    font-size: 1.2em;
}

.edit-btn {
    background: #fff;
    width: 3.6vw;
    height: 2.4vw;
    border: 1px solid #ddd;
    font-size: 0.8vw;
}

/* -------- 쿠폰/포인트 -------- */

.coupon-info {
    width: 100%;
    margin-top: 2vw;
}

.coupon {
    margin-top: 1vw;
    display: flex;
}

.coupon-input {
    width: 80%;
    padding: 0.6vw;
    font-size: 1vw;
    border: 1px solid #ddd;
}

.coupon-input:focus {
    outline: none;
}

.coupon-btn {
    margin-left: 1vw;
    border: none;
    background-color: #244664;
    font-size: 0.8vw;
    color: #fff;
    width: 20%;
}

.point-text {
    font-size: 1.1em;
}

/* -------- 최종 결제금액 -------- */

.pay-container {
    width: 100%;
    background-color: #fff;
}

.pay-info {
    width: 100%;
    margin-top: 2vw;
}

.pay {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6vw;
    align-items: center;
}

.category {
    color: #999;
    font-size: 1.2em;
}

.cur-price {
    font-size: 1.2em;
}

hr {
    width: 100%;
    margin-top: 1.8vw;
    margin-bottom: 1.8vw;
    color: #eee;
    border: thin solid #eee;
}

.main-category {
    font-size: 1vw;
}

.main-price {
    font-size: 1.8em;
    font-family: 'B';
    color: #244664;
}

.point {
    margin-top: 1.2vw;
}

.point-amount {
    color: #244664;
}

.payment-btn {
    width: 100%;
    height: 4vw;
    background-color: #244664;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2vw;
    font-family: 'B';
}

.howpay {
    margin-top: 1.8vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 70px;
    font-size: 18px;
}