@font-face {
    font-family: 'B';
    src: url('../../font/B.ttf');
}

@font-face {
    font-family: 'M';
    src: url('../../font/M.ttf');
}

@font-face {
    font-family: 'L';
    src: url('../../font/L.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'M';
}

#body {
    padding-top: 60px;
    width: 65vw;
    min-height: 100vh;
    margin: 0 auto;
}

.title {
    font-size: 26px;
    margin-top: 3vw;
    font-family: 'B';
}

.th {
    color: #000000;
    margin: 0;
    border-bottom: 3px solid #000;
    padding-bottom: 6px;
    font-size: 18px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

a {
    color: #000;
}

#table {
    border-collapse: collapse;
    font-size: 18px;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    margin-top: 3vw;
}

.teacher-list {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    font-family: 'M';
}

.teacher-name {
    font-family: 'B';
    font-size: 18px;
    margin-right: 1.2vw;
}

#tec {
    font-size: 1em;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    border: none;
    width: 400px;
}

.back-btn {
    width: 200px;
    height: 60px;
    display: block;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 4vw;
    font-size: 18px;
}

#tec:focus {
    outline: none;
}

.sub-btn {
    margin-right: 6px;
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #03213b;
    color: #fff;
}

#button {
    color: #fff;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 0 auto;
}

.go-btn {
    width: 200px;
    height: 60px;
    font-size: 18px;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3vw;
}

.table-container {
    width: 100%;
    min-height: 30vw;
    margin-bottom: 1vw;
}

.page-num {
    margin: 0 auto;
    margin-top: 2vw;
    display: flex;
    gap: 30px;
    max-width: 400px;
    justify-content: center;
}

.page {
    color: #bbb;
}

.active {
    color: #000;
    font-family: 'B';
    text-decoration: underline;
}
