@font-face {
    font-family: 'B';
    src: url('../../font/B.ttf');
}

@font-face {
    font-family: 'M';
    src: url('../../font/M.ttf');
}

@font-face {
    font-family: 'L';
    src: url('../../font/L.ttf');
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 !important;
}

.body {
    width: 64vw;
    min-height: 100vh;
    padding-top: 7vw;
    margin: 0 auto;
}

#nm {
    width: 100%;
    height: 70px;
    font-size: 2.4em;
    font-family: 'B';
    border: none;
    border-bottom: 1px solid #ddd;
}

#sp {
    border: none;
    border-bottom: 1px solid #ddd;
    resize: none;
    width: 100%;
    height: 50vh;
    margin-top: 1vw;
    font-size: 1.2em;
}

.submit_btn {
    width: 200px;
    height: 60px;
    display: block;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: none;
    font-size: 18px;
    margin-top: 2vw;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: 'M';
    color: #aaa;
}

.note-editor {
    margin-top: 2vw;
}

.note-editing-area {
    height: 24vw;
}