@font-face {
    font-family: 'B';
    src: url('../../font/B.ttf');
}

@font-face {
    font-family: 'M';
    src: url('../../font/M.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'M';
    text-decoration: none;
}

#header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.header-container {
    width: 65vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-container a {
    font-family: 'M';
    text-decoration: none;
    color: black;
}

.logo-form {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.header a {
    font-size: 16px;
}

.logo {
    height: 36px;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -22%;
    width: 22%;
    height: 100%;
    background-color: #fff;
    z-index: 11000;
    transition: right 0.5s;
}

.menues {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
}

.black-screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 10005;
    transition: 0.5s ease-in-out;
}

.screen-active {
    display: inline;
}

#sidebar.active {
    right: 0;
}

#sidebar-toggle {
    border: none;
    background-color: white;
    font-size: 16px;
}

.profile-container {
	width: 100%;
	height: 20%;
	background: #ffffff;
    color: #03213b;
}

.profile {
	width: 85%;
    padding-top: 2vw;
    margin: 0 auto;
}

.profile-name {
    font-size: 2.4em;
    font-family: 'B';
}

.profile-info {
    width: 100%;
    margin-top: 1vw;
    font-size: 18px;
}

.profile-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mymenu-container {
    width: 100%;
    height: 80%;
    background: #03213b;
    color: #fff;
}

.mymenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mymenu div a {
    color: #fff;
}