@font-face {
    font-family: 'B';
    src: url('../../font/B.ttf');
}

@font-face {
    font-family: 'M';
    src: url('../../font/M.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'M';
}

*::-webkit-scrollbar {
    display: none;
}

#main {
	width: 100%;
}

#body {
	width: 100%;
    display: flex;
}

.menubar {
    height: 100vh;
    background-color: #fff;
    width: 20%;
}

.info-container {
    background-color: #244664;
    color: white;
    width: 20%;
    height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
}

.title-container {
    margin: 0 auto;
    width: 84%;
    word-break: keep-all;
}

.title {
    font-size: 1.5vw;
}

.leftover-day {
    margin-top: 1vw;
}

.lecture-progress {
    width: 100%;
    padding-top: 0.8vw;
}

#progress {
    width: 100%;
    border: none;
    appearance: none;
    height: 5px;
}

.radio-input {
    background: #000;
    border: 2px solid #ddd;
}

::-webkit-progress-value {
    background-color: #ffffff;
    border-radius: 5px;
}

::-webkit-progress-bar {
    background-color: #596b8f;
    border-radius: 5px;
}

.menu-container {
    width: 100%;
    background-color: #fff;
    padding-top: 10vw;
    padding-bottom: 11vw;
}

.headline {
    width: 100%;
    background-color: #b2c4d4;
    height: 3vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
    text-align: center;
    justify-content: space-between;
}

.plus {
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.sub-title-container {
    width: 100%;
}

.sub-title {
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 3vw;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
    text-align: center;
    justify-content: space-between;
}

.menu-btn-container {
    width: 20%;
    height: 8vw;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #244664;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.menu-btn {
    border: 0.15vw solid #ffffff;
    text-decoration: none;
    padding: 1vw;
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    height: 24%;
    margin: 0.2vw;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrap {
    width: 80%;
    height: 100vh;
}

.video-container {
    position: fixed;
    width: 80%;
    right: 0;
    height: 100vh;
    background-color: #fff;
}

.video {
    width: 76%;
    margin: 0 auto;
    margin-top: 2vw;
}

.video-disabled::-webkit-media-controls-enclosure {
    pointer-events: none !important;
}

.video-time {
    font-size: 1vw;
    color: #999;
}

.video-title {
    font-size: 2vw;
    font-family: 'B';
}

.video-frame {
    width: 100%;
    height: auto;
    margin-top: 2vw;
    background-color: #000;
}

.lecture-video {
    width: 100%;
    height: 100%;
}

.btn-container {
    text-align: center;
    margin-top: 0.6vw;
}

.question {
    width: 160px;
    height: 50px;
    border: none;
    background-color: #244664;
    color: #fff;
}

.video-bottom {
    width: 100%;
    height: 3vw;
    background-color: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back {
    width: 60px;
    height: 60px;
    background-color: #244664;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: 1vw;
}