* {
    margin: 0;
    padding: 0;
    font-family: 'M';
}

#main {
    width: 100%;
    height: 100%;
}

#body {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
}

a {
    color: #000;
}

/* -------- 메뉴 -------- */

.menu-container {
    width: 20%;
    position: fixed;
    height: 100vh;
    background-color: #ffffff;
}

.menu {
    width: 100%;
    margin: 0 auto;
}

/* -------- 검색 -------- */

.search {
    width: 100%;
    display: flex;
    margin-top: 3vw;
  
}

.search-box {
    width: 90%;
    height: 1vw;
    padding: 0.4vw;
    font-size: 1em;
    border: none;
    border:radious 3%;
    border-bottom: 1px solid #ccc;
}

.search-box:focus {
    outline: none;
}

.search-btn {
    margin-left: 5%;
    border-radius: 5px;
    width: 15%;
    border: none;
    background-color: #000;
    color: #fff;
}

/* -------- 선택메뉴 -------- */

#menu-group {
    margin: 0 auto;
    margin-top: 3vw;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    width: 75%;
}

#menu-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

.line {
    border-top: 1px solid #ccc;
    margin: 12px 0 12px 0;
}

input[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid #ffffff;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.1s ease-in-out;
}

input[type="radio"]:checked {
    border: 0.4em solid rgb(0, 0, 0);
}

/* -------- 컨텐츠 -------- */

.content-container {
    width: 80%;
    position: absolute;
    right: 0;
    background: #ffffff;
    padding-bottom: 3vw;
}

.contents {
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1% 1%;
}

.shadow { 
    margin-top: 20px;
    border-radius: 1vw;
    box-shadow: 0px 3px 20px 5px rgba(0, 0, 0, 0.2);
}

.long {
    width: 16vw;
    height: 4vw;
    background-color: #fff;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    align-items: center;
}

.long-element {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#long-element {
    width: 100%;
}

.link {
    width: 16vw;
    height: 16vw;
    display: block;
    list-style: none;
    text-decoration: none;
}

#tec {
    font-size: 1em;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    border: none;
    width: 100px;
}

.long-btn {
    background: #03213b;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

#tec:focus {
    outline: none;
}

.sub-btn {
    margin-right: 6px;
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #03213b;
    color: #fff;
}

.content-element {
    width: 90%;
    margin: 0 auto;
}

.video-titlea {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2em;
    font-family: 'B';
}

.pay-header {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    background: #03213b;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.pay-title {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pay-element {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.video-content {
    position: absolute;
    width: 16vw;
    height: 16vw;
    z-index: 99;
    display: flex;
    border-radius: 1vw 1vw 0 0;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(33, 29, 34, 0.6);
}

.video-content-2 {
    position: absolute;
    width: 16vw;
    height: 16vw;
    z-index: 99;
    display: flex;
    border-radius: 1vw;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(33, 29, 34, 0.6);
}

.thumb {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 102% 102%;
    background-position: center center;
    transition: 0.4s ease-in-out;
    border-radius: 1vw 1vw 0 0;
}

.thumb-2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 102% 102%;
    background-position: center center;
    transition: 0.4s ease-in-out;
    border-radius: 1vw;
}

.video-content:hover ~ .thumb {
    background-size: 130% 130%;
}

.difficulty-price {
    display: flex;
    justify-content: space-between;
}

.difficulty-info {
    color: #fff;
    padding: 0.8vw;
}

.price-info {
    padding: 0.8vw;
}

.designer {
    font-size: 1vw;
    color: #fff;
}

.price {
    color: #fff;
}

.day {
    color: #fff;
    font-family: 'M';
}

.category {
    font-size: 2vw;
    font-weight: bolder;
    margin-top: 2vw;
}

.title {
    color: #fff;
    font-size: 1.6vw;
    margin: 0 auto;
    width: 84%;
    text-align: center;
    word-break: keep-all;
    font-family: 'B';
}

.designer-info {
    margin-top: 1vw;
    text-align: center;
}

.name {
    font-size: 1vw;
}
