* {
    font-family: 'M';
}

.menu-container {
    width: 200px;
    height: 100vh;
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.menu-elements {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-family: 'B';
    font-size: 22px;
    margin: 40px 0 40px 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 24px;
}

.hidden {
    display: none;
}

.m {
    font-family: 'M';
}